/*TITLE*/
@-webkit-keyframes appear {
  0% {opacity:0;}
  100% {opacity:1;}
}
.animate #Title-png{
    -webkit-animation-duration: 5s;
    -webkit-animation-name: appear;
}


/*SUN*/
@-webkit-keyframes sunset {
  0% {-webkit-transform: translate(0px, 0px);}    
  50% { -webkit-transform:  translate(-70px, 250px);}
  100% { -webkit-transform:  translate(0px, 0px);}    
}
.animate #sun{
    -webkit-animation-duration: 48s;
    -webkit-animation-name: sunset;
    -webkit-animation-iteration-count: infinite;
}


/*BALLOON*/
@-webkit-keyframes balloonmove {
  0% {-webkit-transform: translateX(-100px);}    
  100% { -webkit-transform:  translateX(900px);}
}
.animate #ballon{
    -webkit-animation-duration: 7s;
    -webkit-animation-name: balloonmove;
    -webkit-animation-timing-function: linear;    
    -webkit-animation-iteration-count: infinite;
}

/*SEA*/
@-webkit-keyframes rota {
  0% {-webkit-transform: rotate(-2deg);}
  50% {-webkit-transform: rotate(2deg);} 
  100% {-webkit-transform: rotate(-2deg);}
}
.animate #sea{
    -webkit-animation-duration: 10s;
    -webkit-animation-name: rota;
    -webkit-animation-iteration-count: infinite;
}

.loading{
    visibility:hidden;    
}

.animate{
    visibility:visible;
}


.animate #descrip-txt{
    visibility:hidden;
}

.animate #Title.png{
    transition:20s;    
    opacity:0;
}
